
.shipping-container {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  margin: 0 auto;
}

.quantity-circle {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #3b3e41; 
  color: white; 
  width: 20px;
  height: 20px; 
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}

.shipping-card,
.order-summary-card {
  flex-basis: 50%; /* Adjust the width of each card as needed */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.table-row-space {
  margin: 50px; /* Adjust the value to control the spacing */
  padding: 50px;
}

/* Rest of your existing CSS styles */


.order-summary-card{
  background-color: #ded9d9;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.shipping-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

input,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #3182ce;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #2c5282;
}
