.image-container {
    position: relative;
  }
  
  .card-img-top {
    transition: filter 0.3s ease-in-out;
  }
  
  .card-img-top.blurred {
    filter: blur(5px); 
  }
  
  .image-buttons {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 170px;
    flex-direction: column;
    align-items: center;
  }
  
  .image-buttons button {
    margin-bottom: 10px;
  }

.heart-red {
  color: red;
  background-color: transparent;
}

.heart-red:hover {
  background-color: transparent;
}
